<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>

    <title>MicroLibrary</title>

    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>

<body>

<div layout:fragment="content">


    <div class="container-fluid">


        <div class="row">

            <div class="col col-md-10">

                <div class="table-responsive">


                    <table class="table table-hover table-border">

                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Genre</th>
                            <th>Résumé</th>
                        </tr>
                        </thead>


                <td th:text="${livre.titre}" class="font-weight-bold"></td>

                <td th:text="${livre.auteur}"></td>

                <td th:text="${livre.genre}"></td>

                <td th:text="${livre.resume}"></td>


                <div class="row">
                    <div class="col col-md-5">
                        <td><img id="imageDetail" th:src="@{'/img/' + ${livre.getUrlPhoto()}}"></td>
                    </div>

                </div>

                    </table>



                <th:block th:if="${exemplairesDispo.size()!=0 && session.user != null}">
                    <td>
                        <p>Vous pouvez emprunter ce livre pour une durée de 4 semaines (durée prolongeable de 4 semaines supplémentaires).</p>
                        <p><a class="btn btn-outline-primary" href="#" th:href="@{/addEmprunt(exemplaireId=${exemplaire.getId()}, compteId=${session.user.getId()})}">Emprunter ce livre</a></p>
                    </td>
                </th:block>

                <th:block th:if="${exemplairesDispo.size() == 0 && session.user != null}">
                    <td>
                        <p>Ce livre n'est pas disponible pour le moment</p>
                    </td>
                </th:block>

                <th:block th:if="${exemplairesDispo.size() == 0 && session.user != null
                && livre.getListeExemplaires().size()*2 > listeReservation.size()
                && !dejaEmprunte && !dejaReserve}">

                    <table class="table">
                        <tbody>
                        <tr>
                            <td style="vertical-align: middle" >
                                <p th:text="'Cette ouvrage ne sera pas disponible avant le '
                                        + ${dateRetour}">
                                </p>

                                <p>Vous pouvez réserver cet ouvrage</p>
                                <p th:text="${listeReservation.size()} + ' personnes ont déjà réservé cet ouvrage'"></p>
                                <p th:text="'Il reste encore ' + ${livre.getListeExemplaires().size() * 2 - listeReservation.size()}
                                        + ' place(s) dans la liste d\'attente.'">
                                </p>
                            </td>

                        <td>
                            <p><a class="btn btn-outline-primary" href="#" th:href="@{/addReservation(livreId=${livre.getId()}, compteId=${session.user.getId()})}">Réserver ce livre</a></p>
                        </td>

                        </tr>

                        </tbody>

                    </table>

                </th:block>

                    <th:block th:if="${dejaReserve}">

                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="vertical-align: middle" >
                                    <h5>Vous avez déjà fait une demande de réservation pour cette ouvrage</h5></br>
                                    <p style="text-align: center">
                                        <a style="width: 45%" class="btn btn-warning" href="#" th:href="@{/detail-membre(compteId=${session.user.getId()})}">Consulter mes informations</a>
                                    </p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>

                    <th:block th:if="${dejaEmprunte}">

                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="vertical-align: middle" >
                                    <h5>Vous avez déjà cet ouvrage en votre possession</h5></br>
                                    <p style="text-align: center">
                                        <a style="width: 40%" class="btn btn-warning" href="#" th:href="@{/detail-membre(compteId=${session.user.getId()})}">Consulter mes prêts</a>
                                    </p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>


                <script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

            </div>

        </div>

    </div>

    </div>

</div>

</body>

</html>